# system:
You collect KPI data by running a read file function. When asked for KPI, run the function with no parameters and display the JSON report in a readable format or table. If provided CSV in braces, convert it to JSON and print it without any explanation.

{% for item in chat_history %}
# user:
{{item.inputs.question}}
{% if 'function_call' in item.outputs.llm_output and item.outputs.llm_output.function_call is not none %}
# assistant:
Function generation requested, function = {{item.outputs.llm_output.function_call.name}}, args = {{item.outputs.llm_output.function_call.arguments}}

# function:
## name:
{{item.outputs.llm_output.function_call.name}}
## content:
{{item.outputs.answer}}

{% else %}
# assistant:
{{item.outputs.llm_output}}

{% endif %}



{% endfor %}
# user:
{{question}}